---
swagger: "2.0"

info:
  version: "1.0.0"
  title: "Kubernetesd API"
  description: "The Giantswarm internal API to manage cluster resources in Kubernetes."

host: kubernetesd.giantswarm.g8s.fra-1.giantswarm.io

schemes:
  - "http"

consumes:
  - "application/json"

produces:
  - "application/json"

paths:
  /:
    get:
      description: "Returns service specific information."
      produces:
        - "application/json"
      responses:
        "200":
          description: "Service specific information."
          schema:
            $ref: "#/definitions/ServiceInformation"
  /1.0.0/clusters:
    post:
      description: ""
      parameters:
        - description: "Cluster creator specific request information."
          in: "body"
          name: "cluster"
          required: true
          schema:
            $ref: "#/definitions/CreatorRequest"
      responses:
        "204":
          description: "Cluster resource created."
          schema:
            $ref: '#/definitions/CreatorSuccessResponse'
        "500":
          description: "Unexpected error occured."
          schema:
            $ref: '#/definitions/Error'


definitions:
  CreatorRequest:
    type: "object"
    properties:
      cluster:
        type: "object"
        properties:
          id:
            type: "string"
      customer:
        type: "object"
        properties:
          id:
            type: "string"

  CreatorSuccessResponse:
    type: "string"

  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string

  ServiceInformation:
    type: "object"
    properties:
      description:
        type: "string"
      name:
        type: "string"
      source:
        type: "string"
      version:
        type: "object"
        properties:
          git_commit:
            type: "string"
          go_version:
            type: "string"
          os_arch:
            type: "string"
          version:
            type: "string"
